{
  "consumer": {
    "token":"",
    "secret":""
  },
  "access": {
    "token":"",
    "secret":""
  },
  "directories": [
    {
      "dir": "/dir/to/watch",
      "tags": "instagram",
      "title_prepend": "BEST_",
      "title_append": "_canon7D"
    }, {
      "tags": "instagram {{folders}}",
      "dir": "/another/dir/to/watch",
      "title_append": "_{{exif_timestamp}}",
      "UpdateOrigFile": true // update the filename with the title_prepend and title_append
    },
    {
      "dir": "/min/settings/for/dir/to/watch"
    }
  ],
  "filename_time_formats": [
    {
      "prefix": ["IMG_","PICT_"],
      "format": "20060102_150405",
      "postfix": ["(0)","(1)","_HDR","_Richtone(HDR)"]
    }
  ]
}
