{
  "consumer": {
    "token":"",
    "secret":""
  },
  "access": {
    "token":"",
    "secret":""
  },
  "watch_dir": [
    "/dir/to/watch",
    "/another/dir/to/watch"
  ],
  "filename_time_formats": [
    "20060102_150405",
    "PICT_20060102_150405"
  ]
}
