{
  "version": "1.0",
  "consumer": {
    "token":"",
    "secret":""
  },
  "access": {
    "token":"",
    "secret":""
  },
  "filenames": [
    {
      "match": "IMG_[0-9]{4}\\.JPG",
      "append": "_{{.ExifDate}}",
      "prepend": "BEST_"
    }
  ],
  "directories": [
    {
      "dir": "/dir/to/watch",
      "tags": "instagram"
    }, {
      "dir": "/another/dir/to/watch",
      "tags": "instagram {{.folders}}",
      "albums": ["Some Album Name"]
    }, {
      "dir": "/min/settings/for/dir/to/watch"
    }
  ],
  "filename_time_formats": [
    {
      "prefix": ["IMG_","PICT_"],
      "format": "20060102_150405",
      "postfix": ["(0)","(1)","_HDR","_Richtone(HDR)"]
    }
  ]
}
